@media screen and (min-width: 428px) {
    .conteiner {
        width: 426px;
    }

    .conteiner-special {
        width: 294px;
    }


}

/*! ===== ============ TABLET ====== ============*/

@media screen and (min-width: 768px) {
    .conteiner {
        width: 766px;
    }

    .conteiner-special {
        width: 582px;
    }

    /* =========== HEADER ============*/
    .mobile-menu-open {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .top-header {
        padding-bottom: 16px;
    }

    .header-conteiner {
        justify-content: flex-start;
    }

    .page-nav {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    .menu {
        display: flex;
        gap: 40px;
        position: relative;
        margin-left: 120px;
    }

    .menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
        transition: color var(--transition-dur-func);
    }

    .menu-link:is(:hover, :focus) {
        color: var(--accent-color);
    }

    .menu-item {
        position: relative;
    }

    .current.menu-link::after {
        content: '';
        display: block;
        position: absolute;
        transform: translateY(-125%);
        width: 100%;
        height: 4px;
        top: 54px;
        left: 0;
        background: #404BBF;
        border-radius: 2px;
    }

    /* Contacts */
    .adrs {
        font-style: normal;
        display: flex;
    }

    .contacts {
        display: inline;
    }

    .contact {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        transition: color var(--transition-dur-func);
    }

    .contact:is(:hover, :focus) {
        color: var(--accent-color);
    }

    /* =========== /HERO ============*/

    .hero {
        background-image: var(--bag-gr),
            url(../images/page-1/hero-bg-tab@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--bag-gr),
                url(../images/page-1/hero-bg-tab@2x.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        min-width: 496px;
    }

    .modal-btn {
        margin-top: 36px;
    }

    /* =========== BENEFITS ============*/

    .benefits-title {
        text-align: left;
    }

    .benefits-list {
        gap: 24px;
    }

    .benefits-item {
        width: 356px;
        margin-bottom: 72px;
    }

    /* =========== OUR TEAM ============*/
    .team-list {
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }
}


/*! ===== ============ DESKTOP ====== ============*/

@media screen and (min-width: 1158px) {
    .conteiner {
        width: 1158px;
    }

    /* =========== HEADER ============*/
    .top-header {
        padding-bottom: 24px;
    }

    .page-nav {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    .menu {
        margin-left: 76px;
    }

    .contacts {
        display: flex;
        align-items: center;
        gap: 40px;

    }

    .current.menu-link::after {
        content: '';
        top: 49px;
    }

    /* =========== HERO ============*/
    .hero {
        background-image: var(--bag-gr),
            url(../images/page-1/hero-bg.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--bag-gr),
                url(../images/page-1/hero-bg@2x.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .modal-btn {
        margin-top: 48px;
    }

    /* =========== BENEFITS ============*/

    .benefits-list {
        flex-wrap: nowrap;
    }

    .benefits-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-top: 8px;
    }

    .benefits-text {
        font-weight: 400;
        /* width: 264px; */
    }

    .bnf-icon-wrap {
        width: 264px;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .benefits-list {
        gap: 24px;
    }

    .benefits-icon {
        width: 64px;
        height: 64px;
    }

    .benefits-title.secondary-title {
        text-align: left;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

/* ==============ABOUT=================== */

.about {
    display: flex;
    padding-bottom: 120px;
}

.section-title {
    margin-bottom: 72px;
}

.about-list {
    display: flex;
    gap: 24px;

}

/* =========== OUR TEAM ============*/
.team-list {
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
}