:root {
    --primary-font: 'Roboto',
        sans-serif;
    --secondary-font: 'Raleway',
        sans-serif;
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #404BBF;
    --bag-gr: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Resetting default styles */
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

/* Inheriting*/
body {
    font-family: var(--primary-font);
    color: var(--primary-text-color);
}

/* =========== COMPONENTS ================ */
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}

.secondary-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.conteiner {
    /* width: 100%; */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color var(--transition-dur-func);
}

.close-btn:is(:hover, :focus) {
    background-color: var(--accent-color);
    border-radius: 4px;
    border-radius: 50%;
}

.close-btn:is(:hover, :focus) .close-btn-icon {
    fill: #FFFFFF;
}

.close-btn-icon {
    width: 8px;
    height: 8px;
}

/* ============ HEADER ============ */
.top-header {
    padding-top: 24px;
    padding-bottom: 22px;
    border-bottom: 1px solid #E7E9FC;
}

.header-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    /* margin-right: 76px; */
}

.logo-first {
    color: var(--title-text-color);
}

/* ?============= MOBILE MENU ============ */

.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.mobile-menu-icon {
    stroke: #2E2F42;
    width: 32px;
    height: 22px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: opacity var(--transition-dur-func), visibility var(--transition-dur-func);

}

/* .mobile-contacts-wrap {
    position: absolute;
    bottom: 0;
} */


.mobile-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu-conteiner {
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
}

.mobile-close-btn {
    background: rgba(231, 233, 252, 0.1);
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-contacts {
    display: block;
    margin-top: 284px;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.mobile-contact-phone {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4D5AE5;
}

.mobile-contact-adr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-contact-item {
    margin-top: 40px;
    margin-bottom: 48px;
}

.mobile-soc-list {
    display: flex;
    /* justify-content: space-between; */
    gap: 56px;
    flex-wrap: wrap;
}

.mobile-soc-item {
    width: 40px;
    height: 40px;
}

.mobile-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-dur-func);
}

.mobile-soc-icon {
    width: 20px;
    height: 20px;
}

.mobile-soc-link:is(:hover, :focus) {
    background-color: var(--accent-color);
}

.menu {
    display: none;
}

.adrs {
    display: none;
}

/* ============ /HEADER ============ */

/* ============ HERO ============ */
.hero {
    background: var(--title-text-color);
    background-image: var(--bag-gr),
        url(../images/page-1/hero-bg-mob@1x.jpg);
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: var(--bag-gr),
            url(../images/page-1/hero-bg-mob@2x.jpg);
    }
}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    max-width: 320px;
    margin: 0 auto;
}

.modal-btn {
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 72px;

    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    transition: background var(--transition-dur-func);
}

.modal-btn:is(:hover, :focus) {
    background: var(--accent-color);
}

/* ============ /HERO ============ */

/*! ============ BENEFITS ============ */
.benefits {
    padding-top: 96px;
    padding-bottom: 96px;
}

.benefits-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 8px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

/* .benefits-title.secondary-title {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
} */

.bnf-icon-wrap {
    display: none;
}

.benefits-text {
    font-weight: 500;
    /* width: 264px; */
}

/*! ============ /BENEFITS ============ */

.about {
    display: none;
}

/* *=============TEAM======================== */
.team {
    background: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.team-item {
    width: 100%;
}

.team-text {
    margin-top: 8px;
}

.team-conteiner {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    padding: 32px 16px;
    text-align: center;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.soc-item {
    width: 40px;
    height: 40px;
}

.soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-dur-func);
}

.team-soc-icon {
    width: 20px;
    height: 20px;
}

.soc-link:is(:hover, :focus) {
    background-color: var(--accent-color);
}



/* *=============/TEAM======================== */



/* ?=============FILTER========= */
.filter {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-btn {
    padding: 12px 24px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: border-radius var(--transition-dur-func), background var(--transition-dur-func), box-shadow var(--transition-dur-func), color var(--transition-dur-func);
}

.filter-btn:is(:hover, :focus) {
    color: #FFFFFF;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.filter-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.gallery-list {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.gallery-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow var(--transition-dur-func);
}

.gallery-conteiner {
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
}

.gallery-title {
    margin-top: 32px;
    margin-bottom: 8px;
    margin-left: 16px;
}

.gallery-text {
    padding-bottom: 32px;
    margin-left: 16px;
}

.gallery-item:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.gallery-overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.gallery-item:hover .gallery-overlay,
.gallery-link:focus .gallery-overlay {
    transform: translate(0, 0);
}

.gallery-overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px 164px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform 500ms linear;
}

/* ?=============/FILTER========= */

/* !=============CUSTOMERS========== */
.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-link {
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border var(--transition-dur-func);
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.customers-link:is(:hover, :focus) {
    border: 1px solid var(--accent-color);
}

.customers-link:is(:hover, :focus) .customers-icon {
    fill: var(--accent-color);
}

/** ============ FOOTER ============= */
.ftr-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    max-width: 264px;
    margin-top: 16px;
}

.ftr {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-second {
    color: #F4F4FD;
}

.ftr-conteiner {
    display: flex;
}

.ftr-soc-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.ftr-soc-item {
    width: 40px;
    height: 40px;
}

.ftr-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition-dur-func);
}

.ftr-soc-icon {
    width: 24px;
    height: 24px;

}

.ftr-soc-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.ftr-soc-link:is(:hover, :focus) {
    background-color: #31D0AA;
}

.ftr-soc-media {
    margin-left: 120px;
}

.footer-form-conteiner {
    margin-left: auto;
}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-form-wrapper {
    display: flex;
    gap: 24px;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition: border-color var(--transition-dur-func);
}

.footer-form-input:focus-visible {
    outline: none;
    border-color: #4D5AE5;
}

.footer-form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.footer-form-subscribe-icon {
    width: 24px;
    height: 24px;
    /* margin-left: 16px;
    margin-top: 8px; */
}

.footer-form-btn {
    width: 165px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    transition: background var(--transition-dur-func);
}

.footer-form-btn:is(:hover, :focus) {
    background: var(--accent-color)
}

/** ============ /FOOTER ============= */

/* ============ MODAL-WINDOW ============= */
.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-dur-func), visibility var(--transition-dur-func);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scalex(1);
    width: 408px;
    min-height: 576px;
    background-color: #FCFCFC;
    transition: transform var(--transition-dur-func);
    padding: 24px;
}

.backdrop.is-hidden .modal-window {
    transform: translate(-50%, -50%) scalex(0);
}

.modal-close-btn {
    background: #E7E9FC;
}

.no-scroll {
    overflow: hidden;
}

/* ============ /MODAL-WINDOW ============= */

/* !================ MODAL FORM ================ */
.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 48px;
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color var(--transition-dur-func);
}

.modal-input:focus {
    outline: none;
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-form-icon {
    fill: #4D5AE5;
}

.modal-textarea:focus {
    outline: none;
    border-color: #4D5AE5;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color var(--transition-dur-func);

}

.modal-t-area::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-btn {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background var(--transition-dur-func);
}

.modal-form-btn:is(:hover, :focus) {
    background: var(--accent-color)
}

.modal-form-desc {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-form-field {
    display: block;
    margin-bottom: 16px;
}

.modal-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    transition: fill var(--transition-dur-func);
}

.modal-form-input-wrapper {
    position: relative;
}

.modal-form-check-desc::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
}

.modal-form-check:checked+.modal-form-check-desc::before {
    background-color: #404BBF;
    background-image: url(../images/svg/chek.svg);
    background-repeat: no-repeat;
    background-position: 2px 3px;
}

.modal-form-check:focus+.modal-form-check-desc::before {
    outline: 1px solid #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0);
}

.modal-form-check-desc {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.modal-form-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}

/* !================ /MODAL FORM ================*/